<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>liz abinante <%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag "normalize", "skeleton", "all", "jquery.fullPage" %>
  </head>
  <body>
    <div id="navigation">
      <ul class="navigation">
        <li>liz abinante</li>
        <li data-menuanchor="writing"><a href="#writing">writing</a></li>
        <li data-menuanchor="talks"><a href="#talks">talks</a></li>
        <li data-menuanchor="about"><a href="#about">about</a></li>
        <li data-menuanchor="contact"><a href="#contact">contact</a></li>
      </ul>
    </div>
    <div id="main" role="main" class="container">
      <div class="row">
        <div class="one column"></div>
        <div class="ten columns">
          <%= yield %>
        </div>
        <div class="one column"></div>
      </div>
    </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <%= javascript_include_tag "jquery.fullPage" %>
  <script type="text/javascript">
    $(document).ready(function() {
      $('#fullpage').fullpage({
        anchors: ['hello', 'writing', 'talks', 'about', 'contact'],
        menu: '#navigation',
        scrollingSpeed: 600
      });
    });
  </script>
  </body>
</html>
