<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>liz abinante <%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= stylesheet_link_tag "normalize", "skeleton", "all" %>
    <style>
      <%= Rouge::Themes::Github.render(:scope => '.highlight') %>
    </style>
  </head>
  <body>
    <div class="container" id="content">
      <div class="row">
        <div class="twelve columns">
          <ul class="navigation">
            <li>liz abinante</li>
            <li><a href="/">home</a></li>
            <li><a href="/writing">writing</a></li>
            <li><a href="/talks">talks</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/speaker-info">speaking</a></li>
            <li><a href="http://tinyletter.com/feministy">subscribe</a></li>
            <li><a href="http://twitter.com/feministy">twitter</a></li>
          </ul>
      
          <% unless current_article.nil? %>
            <h1><%= current_article.title %></h1>
            <p><%= current_article.date.strftime('%B %Y') %> at <%= current_article.data['conf'] %> <%= current_article.date.strftime('%Y') %> in <%= current_article.data['location'] %>
            </p>

            <h4>
            <% if current_article.data['speakerdeck'] %>
              <%= link_to 'View slides', current_article.data['speakerdeck'] %>
            <% end %>
            <% if current_article.data['video'] && current_article.data['speakerdeck'] %>
            or
            <% end %>
            <% if current_article.data['video'] %>
              <%= link_to 'Watch video', current_article.data['video'] %>
            <% end %>
            </h4>

            <h4>Abstract</h4>
            <%= yield %>

            <% if current_article.data['embed'] %>
              <h4>Video</h4>
              <iframe width="640" height="360" src="<%= current_article.data['embed'] %>" frameborder="0" allowfullscreen></iframe>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>


