---
layout: home
---
<div id="fullpage">
  <div class="section" id="section0">
    <h1 class="name">liz abinante</h1>
    <h2 class="description">is a really awesome web developer</h2>
    <h3>who cares a lot about feminism, knitting, and <span class="dog">dogs</span></h3>
    <h4>and lives in pdx working as a <span class="computer">software engineer</span> for new relic.</h4>
  </div>

  <div class="section" id="section1">
    <h1>writing : recently</h1>
    <% most_recent(blog.articles, "blog").each_with_index do |article, i| %>
      <div class="post">
        <p>
          <%= link_to article.title, article %>
          <!-- <br> -->
          <% article.tags.each do |tag| %>
            <span class="tag"><%= tag %></span>
          <% end %>
        </p>
      </div>
    <% end %>
    <h2>writing : <a href="/writing">see all</a></h2>
  </div>

  <div class="section" id="section2">
    <h1>talks : recently</h1>
    <% most_recent(blog.articles, "talk").each_with_index do |article, i| %>
      <div class="post">
        <p>
          <%= link_to article.title, article %>
          <!-- <br> -->
          <% article.tags.each do |tag| %>
            <span class="tag"><%= article.data['conf'] %></span>
            <span class="tag"><%= article.data['location'] %></span>
          <% end %>
        </p>
      </div>
    <% end %>
    <h2>talks : <a href="/talks">see all</a></h2>
  </div>

  <div class="section" id="section3">
    <h1>about</h1>
  </div>

  <div class="section" id="section4">
    <h1>contact</h1>
  </div>
</div>

