<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>liz abinante <%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= stylesheet_link_tag "normalize", "all" %>
    <style>
      <%= Rouge::Themes::Base16::Solarized.render(:scope => '.highlight') %>
    </style>
  </head>
  <body>
    <div id="content">
      <ul class="navigation" role="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/writing">Writing</a></li>
        <li><a href="/talks">Talks</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/speaker-info">Speaking</a></li>
        <li><a href="http://tinyletter.com/feministy">Subscribe</a></li>
        <li><a href="http://twitter.com/feministy">Twitter</a></li>
      </ul>

      <% if current_article.nil? %>
        <div class="header--container">
          <div class="header--details-text">
            <h1><%= current_page.url.gsub('/', '').gsub('-', ' ').capitalize %></h1>
          </div>
        </div>
      <% else %>
        <div class="header--container">
          <div class="header--details-text">
            <h1><%= current_article.title %></h1>
            <% if current_article.tags.length > 1 %>
              <h2>
                <%= formatted_article_tags(current_article.tags) %>
              </h2>
            <% end %>
            <h3>
              <%= current_article.date.strftime('%e %B %Y') %>
            </h3>
          </div>
        </div>
      <% end %>
      <div class="container">
        <div class="rows">
          <div class="columns twelve">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script src="https://use.typekit.net/ctb6cxw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </body>
</html>
