<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>liz abinante <%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= stylesheet_link_tag "normalize", "skeleton", "all" %>
    <style>
      <%= Rouge::Themes::Base16::Solarized.render(:scope => '.highlight') %>
    </style>
  </head>
  <body>
    <div class="container" id="content">
      <div class="row">
        <div class="twelve columns">
          <ul class="navigation">
            <li>liz abinante</li>
            <li><a href="/">home</a></li>
            <li><a href="/writing">writing</a></li>
            <li><a href="/talks">talks</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">contact</a></li>
            <li><a href="/speaker-info">speaking</a></li>
            <li><a href="http://tinyletter.com/feministy">subscribe</a></li>
            <li><a href="http://twitter.com/feministy">twitter</a></li>
          </ul>
      
          <% unless current_article.nil? %>
            <h1><%= current_article.title %></h1>
            <p class="date">
              <strong>published:</strong> <%= current_article.date.strftime('%e %B %Y') %>
              <% if current_article.tags.length > 1 %>
                <span class="tags right">
                  <strong>tags:</strong> <%= formatted_article_tags(current_article.tags) %>
                </span>
              <% end %>
            </p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
