<% most_recent(blog.articles, "talk").each do |article| %>
<div class="article">
  <% if article.data['conf'] %>
    <h3>
      <%= article.data['conf'] %>
      in
      <%= article.data['location'] %>
    </h3>
  <% end %>
  <p>
    <%= article.date.strftime('%B %d, %Y') %>
  </p>
  <h4>
    <%= link_to article.title, article %>
  </h4>

  <%= article.summary %>

  <% if article.data['speakerdeck'] %>
    <%= link_to 'View slides', article.data['speakerdeck'] %>
  <% end %>
  <% if article.data['video'] && article.data['speakerdeck'] %>
  or
  <% end %>
  <% if article.data['video'] %>
    <%= link_to 'Watch video', article.data['video'] %>
  <% end %>
</div>
<% end %>


